*.pyc
.emacs.bak
output
objs
extern
.*.depend

# compiled programs
bin/faUcscToGencode
bin/genePredIntrons
bin/tslGetUcscRnaAligns
bin/rslSpliceJunctionCollectEvidence
bin/rslStarSjOutSplit
bin/getUcscRnaAligns
bin/spliceJunctionCollectEvidence
